<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.ChatMapper">
    <insert id="insertChat" parameterType="vo.Chat">
        INSERT INTO chat (product_no, sender_no, receiver_no, content)
        VALUES (#{productNo}, #{senderNo}, #{receiverNo}, #{content})
    </insert>
</mapper>
