<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.UserMapper">
    <resultMap id="user" type="vo.User">
        <id property="no" column="no"/>
        <result property="id" column="id"/>
        <result property="imgUrl" column="img_url"/>
        <result property="pw" column="pw"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="cash" column="cash"/>
        <result property="phone" column="phone"/>
        <result property="location" column="location"/>
        <result property="regDate" column="reg_date"/>
        <result property="penalty" column="penalty"/>
        <result property="deliver" column="deliver"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="userList" resultType="user">
        SELECT * FROM user
    </select>

    <insert id="userInsert" parameterType="user">
        INSERT INTO user (id, pw, name, nickname, cash, phone, location, img_url, reg_date)
        VALUES (
                   #{id},
                   #{pw},
                   #{name},
                   #{nickname},
                   #{cash},
                   #{phone},
                   #{location},
                   #{imgUrl},
                   #{regDate}
               )
    </insert>


    <select id="validUserId" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE id=#{id}
    </select>

    <select id="checkLogin" parameterType="user" resultMap="user">
        SELECT * FROM user WHERE id=#{id} AND pw=#{pw}
    </select>

    <select id="getUserNo" parameterType="String" resultType="Integer">
        SELECT no FROM user WHERE id=#{id}
    </select>

    <delete id="userDelete" parameterType="String">
        DELETE FROM user WHERE id=#{id}
    </delete>

    <select id="userContent" parameterType="Integer" resultType="user">
        SELECT * FROM user WHERE no=#{no}
    </select>

    <update id="userUpdate" parameterType="user">
        UPDATE user
        SET nickname=#{nickname}, phone=#{phone}, location=#{location}, img_url=#{imgUrl}
        WHERE no=#{no}
    </update>

    <update id="locationUpdate" parameterType="user">
        UPDATE user
        SET location=#{location}
        WHERE no=#{no}
    </update>

    <update id="userUploadPhoto" parameterType="user">
        UPDATE user SET img_url=#{imgUrl} WHERE no=#{no}
    </update>

    <select id="userLogin" parameterType="user" resultType="String">
        SELECT name FROM user WHERE id=#{id} AND pw=#{pw}
    </select>

    <select id="getUserByLocation" parameterType="String" resultType="user">
        SELECT *
        FROM user
        WHERE location LIKE CONCAT('%', #{location}, '%')
    </select>
</mapper>
