<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="mybatis/db.properties"/>

	<typeAliases>
		<typeAlias type="vo.Alarm" alias="alarm"/>
		<typeAlias type="vo.Auction" alias="auction"/>
		<typeAlias type="vo.Category" alias="category"/>
		<typeAlias type="vo.Chat" alias="chat"/>
		<typeAlias type="vo.Delivery" alias="delivery"/>
		<typeAlias type="vo.Product" alias="product"/>
		<typeAlias type="vo.ProductImg" alias="productImg"/>
		<typeAlias type="vo.User" alias="user"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/UserMapper.xml"/>
		<mapper resource="mybatis/CategoryMapper.xml"/>
		<mapper resource="mybatis/ProductMapper.xml"/>
		<mapper resource="mybatis/ProductImageMapper.xml"/>
		<mapper resource="mybatis/AuctionMapper.xml"/>
		<mapper resource="mybatis/ChatMapper.xml"/>
		<mapper resource="mybatis/AlarmMapper.xml"/>
		<mapper resource="mybatis/DeliveryMapper.xml"/>
	</mappers>
</configuration>