<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Util에 대한 서블릿 설정 -->
    <servlet>
        <servlet-name>Util</servlet-name>
        <servlet-class>util.Util</servlet-class>

        <!-- 파일 업로드 설정 -->
        <multipart-config>
            <location>/img</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>

    <!-- Util에 대한 서블릿 매핑 -->
    <servlet-mapping>
        <servlet-name>Util</servlet-name>
        <url-pattern>/Util</url-pattern>
    </servlet-mapping>

</web-app>